@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.choose-calculation-subtitle {
    margin-bottom: 50px;
}

code {
    font-size: 32px;
}

#tolerance {
    display: none;
}

#iteration {
    display: none;
}

th, td {
    text-align: center;
    vertical-align: middle;
}